<h3>What is SwatCoRe?</h3><br />
<p>SwatCoRe is a student-led initiative to try to make course information more easily accessible to students. Anyone can review a course, upload a syllabus, and vote for helpful reviews. SwatCoRe is a work in progress, so if you have any good ideas, please <%= link_to "contact us", contact_path %>!</p>  

<br /><br />

<h3>Isn't this the same as RateMyProfessor?</h3><br />
<p>Well, um, kind of. SwatCoRe is more course- than professor-focused, though, as professors may have certain strengths and weaknesses. Also SwatCoRe is locally focused, we hope to build a community of peer reviewers that is more focused on Swarthmore. Have you tried looking for a Swat professor on RMP? Good luck.</p>

<br /><br />

<h3>Who can see my reviews?</h3><br />
<p>Anyone with a TriCo (@swarthmore, @haverford, @brynmawr) email address can sign up for SwatCoRe. As our intention is to benefit the Swarthmore community, we have no intention of publicizing these reviews. </p>

<br /><br />

<h3>What if I don't want my review to affect my grade?<h3><br />
<p>Good idea! While we have faith in our professors, we also now offer an option to delay posting a review until after grades are out.</p>

<br /><br />

<h3>Can I post reviews anonymously?</h3><br />
<p>No. We've decided that anonymity makes it too easy for people to be mean and unproductive. You can put any name you'd like on your account, but you will have to verify your email before you can log in.</p>

<br /><br />

<h3>Cool idea! Can I help out?</h3><br />
<p>Sure! <%= link_to "Contact us", contact_path %> and we'd love to see how you could contribute to SwatCoRe. 

<br /><br />

<h3>Your website is broken.</h3><br />
<p>Probably -- this is our first web development project as a team. If you have any questions, comments, or concerns, or if there are any features you would like to see us add, please <%= link_to "let us know", contact_path %>.