<div class="landing container">
  <div class="feature-banner feature-banner-opinion row text-center">
    <%= image_tag "pic_search.svg", id: "pic_search", class: "col-md-4 landing-pic" %>
    <div class="col-md-2"></div>
    <div class="col-md-6 description">
      <h3 class="description-title">Look up Swatties' opinions</h3>
      <p class="description-text">
        Look up honest reviews written by your peers at Swarthmore. Pass on your wisdom and experience to future students.
      </p>
    </div>
  </div>
  <br>

  <div class="feature-banner feature-banner-map row text-center">
    <div class="col-md-6 description">
      <h3 class="description-title">Map out your perfect course load</h3>
      <p class="description-text">
        Ensure the classes you sign up for are the right fit for you. Browse our extensive database of student opinions.
      </p>
    </div>
    <div class="col-md-2"></div>
    <%= image_tag "pic_map.svg", id: "pic_map", class: "col-md-4 landing-pic" %>
  </div>
  <br>

  <div class="feature-banner feature-banner-safe row text-center">
    <%= image_tag "pic_secure.svg", id: "pic_secure", class: "col-md-4 landing-pic" %>
    <div class="col-md-2"></div>
    <div class="col-md-6 description">
      <h3 class="description-title">Your reviews are safe with us</h3>
      <p class="description-text">
        Your privacy is our top priority - this is a platform built for students, by students, with security in mind at every step.
      </p>
    </div>
  </div>
</div>
