<div class="landing container">
  <div class="feature-banner row">
    <%= image_tag "pic_search.svg", id: "features", class: "col-sm-4" %>
    <div class="col-sm-2"></div>
    <p class="description col-sm-6">
      texttexttexttext
    </p>

  </div>
  <br>

  <div class="feature-banner row">
    <p class="description col-sm-6">
      texttexttexttexttext
    </p>
    <div class="col-sm-2"></div>
    <%= image_tag "pic_map.svg", id: "features-alt", class: "col-sm-4" %>
  </div>
  <br>

  <div class="feature-banner row">
    <%= image_tag "pic_secure.svg", id: "features", class: "col-sm-4" %>
    <div class="col-sm-2"></div>
    <p class="description col-sm-6">
      texttexttexttext
    </p>

  </div>

</div>
