<% provide(:title, "About")  %>

<h1>About Us</h1>
  
  <p><b>Yenny Cheung</b>, Co-founder and Front-end Lead Developer</p>

  <!-- <p>Peng Zhao, Co-founder RIP</p> -->

  <p><b>Razi Shaban</b>, Co-founder and Lead Developer</p>

  <p><b>Gabriela Brown</b>, Back-end Developer</p>

  <!-- <p>AJ Valera, Back-end Developer RIP</p> -->

  <!-- <p>Fengjun Yang, Full-stack Developer RIP</p> -->