<% provide(:title, "About")  %>

<h1>About</h1>
  The Swarthmore Course Review is a work in progress. <br /><br />

  If you have any questions, comments, or concerns, or if there are any features you would like to see us add, please <%= link_to "Contact Us", contact_path %>.