<% provide(:title, "Help")  %>

<h1>Help</h1>

  Are you having any issues with the Swarthmore Course Review? <br /><br />

  It is still a work in progress, so please contact the developers at <a href="mailto:swatcoreteam@gmail.com">swatcoreteam@gmail.com</a> with any comments or concerns. <br /><br />

  Thank you!
