<div class="center jumbotron">
  <h1>Welcome to SwatCoRe</h1>

  <h2>
    This is the home page for the
    <%= link_to "SwatCoRe", root_path %>
    development pge.
  </h2>

  <% if not logged_in? %>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  <% else %>
    <%= link_to "View Courses Now!", courses_path, class: "btn btn-lg btn-primary" %>
  <% end %>

</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>