@import "bootstrap-sprockets";
@import "bootstrap";
@import 'partials/base';

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;


/* universal */

body {
  padding-top: 60px;
}

section {
  margin-top: 20px;
  overflow: auto;
  padding: 0 15px !important;
}

div{
  padding: 10px 0;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}
@media (max-width: 844px){
  .container{
    max-width: 1024px;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 36px;
  letter-spacing: -2px;
  text-align: center;
  margin: 30px 0 20px 0;
  font-weight: bold;
  text-align: left;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
  color: $gray-light;
}
h3{
  margin-top: 10px;
}
h4{
  font-size: 1 em;
  letter-spacing: -1px;
}

p {
  text-align: left;
  font-size: 1.1em;
  line-height: 1.7em;
  // letter-spacing: -1px;
}

li{
  color: $gray;
}

ul{
  list-style: none;
}

.btn{
  font-size: 16px;
  background-color: $dark-turquoise;
  border-radius: 3px;
  border:none;
  padding: 14px !important;
  margin-bottom: 10px;
  color: white !important;
  &:hover{
    background-color: $turquoise !important;
    color: white !important;
  }
  &:visited, &:active, &:focus{
    color: white;
    background-color: $dark-turquoise;
  }
}

input

a{
  &:visited{
    color: $gray-lighter;
    background: none !important;
  }
  &:focus{
    color: black !important;
    background: none !important;
  }
}

textarea, input{
  padding: 5px;
  margin: 15px 0 30px 0;
  &:focus{
    border-color: $dark-turquoise;
    outline-style: none;
  }
}

select {
  padding: 10px !important;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-overflow: '';
  text-indent: 0.01px;
  background: url(dropdown_sm.png) no-repeat 98% 50%;
  border-radius: 0px;
  &:focus{
    border-color: $dark-turquoise !important;
    outline-style: none !important;
  }
}
::-ms-expand {
  display: none;
}

.navbar-nav{
  li a{
      color: black !important;
      background: white;
      line-height: 2em;
      &:hover{
        opacity: .6;
      }
  }
}

.nav-drop-img{
  background: url(nav_drop.png) no-repeat;
  background-size: cover;
  height: 50px;
  width: 50px;
  margin-right: 30px;
  padding: 0;
  float: right;
  display: none;
  cursor: pointer;
}

@media (max-width: 844px){
  .navbar-nav{
    display: none;
    width: 30%;
    position: absolute;
    top: 43px;
    background-color: white;
    border: $lightest-gray 1px solid;
    right: 54px;
      li{
        border-bottom: 1px solid $lightest-gray;
        width: 100%;
        &:last-child{
          border: 0;
        }
      }
  }
  .nav-drop-img{
    display: block;
  }
}

.navbar-inverse{
  .navbar-nav{
    .open{
      a{
        background: white !important;
        color: black !important;
      }
    }
  }
}

/* header */
.header{
  background: white;
  border-bottom: 1px $gray-lighter solid;
  .dropdown-toggle{
    color: $gray;
    background: none;
  }
  .logo {
    float: left;
    margin: 0 auto;
    font-size: 1.7em;
    color: black;
    letter-spacing: -1px;
    line-height:50px;
    font-weight: bold;
    em{
      color: $dark-turquoise;
      font-style: normal;
    }
    &:hover {
      text-decoration: none;
    }
  }
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.course_info{
  margin: 20px 0 60px 0;
  h1{
    margin-top: 20px;
  }
  p{
    font-size: 20px;
    line-height: 35px;
  }
  em{
    color: $dark-turquoise;
    font-style: normal;
    font-weight: bold;
  }
}
.course_avg_ratings{
  text-align: center;
  margin-top: 50px;
  table{
    margin: 0 auto;
    border-collapse: separate;
    border: solid 2px $gray-light;
    border-radius: 3px ;
    width: 85%;
    max-width: 300px;
    height: 90px;
    table-layout: fixed;
    td{
      border-left:  solid 2px $gray-light;
      &:first-child{
        border:none;
      }
    }
    tr{
      h3{
        color: $dark-turquoise;
        font-weight: bold;
      }
    }
  }
 }


.user_login, .new_course, .new_department, .new_professor{
  a{
    &:hover{
      text-decoration: underline;
    }
  }
  #user_remember_me{
    margin: 4px 0 0 15px;
  }
  label{
    padding-left: 0;
  }
  input[type="text"]{
    margin-top: 0;
  }
}


.search-field{
  input[type="text"]{
    font-size: 16px;
    padding: 16px !important;
    margin-bottom: 10px;
    margin-right: -2px;
  }
}

input[type="file"]{
  font-size: 16px;
  padding: 14px !important;
  margin-bottom: 10px;
  margin-right: -2px;
}

.field{
  padding: 10px 20px;
  background-color: white;
  border: 10px solid $lightest-gray;
  margin-bottom: 60px !important;
  h2{
    text-align: left;
  }
  h3{
    margin: 10px 0 35px 0 ;
    font-weight: bold;
  }
 }

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
  // &[name="checkbox"]{
  //   display:inline;
  // }
}


#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.alert-error{
  color: red;
  background: rgba(255,0,0,0.15);
}

.alert-notice, .alert-alert{
  color: $dark-turquoise;
  background: $light-gray;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}


/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* reviews */

.reviews {
  list-style: none;
  padding: 0 30px 0 30px;
  margin-top: 25px;

  li {
    padding: 15px 0;
    margin-bottom: 15px;
    border-bottom: 1px solid $lightest-gray;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    white-space: pre-wrap;
    display: block;
    img {
      display: block;
      padding: 5px 0;
    }
  }

  .photo{
    position: relative;
    height: 100px;
    width: 100px;
    margin-top: 8px;
    background: $lightest-gray;
    border-radius: 50px;
    h3{
      font-size: 30px;
      margin: 0;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
  .name{
    font-weight: bold !important;
    line-height: 30px;
  }
  .ratings{
    line-height: 30px;
  }
  .timestamp {
    color: $gray-light;
    font-size: 12px;
  }
  i{
    margin-right: 4px;
  }
  a{
    .vcount{
      margin: 0 !important; //this is really ugly, just a quick fix.
    }
  }
  .vote{
    &:hover{
      text-decoration: underline;
    }
  }
  .helpful{
    color: $dark-turquoise;
    font-weight: bold;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}


aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}
