.landing {

  .feature-banner {
    overflow: auto;
  }

  #features {
    width: 25em;
    height: 20em;
  }

  #features-alt {
    width: 25em;
    height: 20em;
  }

  .description {
    text-align: center;
  }
}
