 <h1>
  <%= @course.name %>
</h1>
<p></p>
<p>
  <strong>Department:</strong>
  <%= @course.department %>
</p>

<p>
  <strong>Crn:</strong>
  <%= @course.crn %>
</p>

<%= @course.reviews.count %> Reviews
