<p id="notice"><%= notice %></p>

<h1>Academic Departments</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @departments.each do |d| %>
      <tr>
        <td><%= link_to d.name, d %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Department', new_department_path %>
