<div class="department_index">
  <div class="list row">
    <div class="col-lg-8 col-md-offset-2">
    <h2>Departments</h2>
      <% @departments.each do |d| %>
        <%= link_to d do %>
          <ul>
            <li class="department_name"><%= d.name %></li>
          </ul>
        <% end %>
      <% end %>
    <br>
    <div class="add_course">
      <%= link_to "#{image_tag("plus.png")}Add a Department".html_safe, new_department_path %>
    </div>
    </div>
  </div>
</div>
