/* colors */
 // @import "font-awesome-sprockets";
 @import "font-awesome";
$gray-medium-light: #eaeaea;
$green: #006655;
$lightest-gray: #eeeeee;

// Landing page color scheme
$gray: #414042;
$light-gray: #e6e7e8;
$yellow: #ffdc25;
$dark-yellow: #dcb427;
$tree-green: #89c765;
$brown: #3c2415;
$red: #f04e59;
$dark-red: #d83247;
$turquoise: #1bbcbb;
$dark-turquoise: #00afa8;

/*typography*/
a{
  &:hover{
    background: none !important;
    color: black !important;
    text-decoration: none;
  }
}
