/* colors */
 // @import "font-awesome-sprockets";
 @import "font-awesome";
$gray-medium-light: #eaeaea;
$green: #006655;
$lightest-gray: #eeeeee;

/*typography*/
a{
  &:hover{
    background: none !important;
    color: black !important;
    text-decoration: none;
  }
}
