<!-- <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Department</th>
      <th>Crn</th>
      <th>Professor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%# @courses.each do |course| %>
      <tr>
        <td><%#= course.name %></td>
        <td><%#= course.dept_name %></td>
        <td><%#= course.crn %></td>
        <td><%#= course.prof_name %></td>

        <td><%#= link_to 'Show', course %></td>
      </tr>
    <%# end %>
  </tbody>
</table> -->


<div class="row">

<aside class="col-md-4">
  <section class="course_info">
    <%= render 'shared/search_form' %>
  </section>

</aside>
</div>

