// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'partials/base';

.course_index, .department_index, .department_page, .professor_index, .professor_page{
  h2{
		text-align: left;
		text-transform: uppercase;
	}
  h3{
    margin-bottom: 30px;
  }
  a{
      .name{
        color: $green !important;
        font-weight: bold;
        font-size: 14px;
      }
      &:hover{
        & >.name{
        text-decoration: underline;
      }
    }
  }
	ul{
		border: 2px $gray-light solid;
		border-radius: 3px;
		padding: 15px 25px;
		margin-bottom: 15px;
		
		span{
			margin-right: 12px;
		}
		&:hover{
      background: $lightest-gray;
		}
	}
  .name{
    a{
      color: $green !important;
      font-weight: bold;
      font-size: 14px;
    }
  }
	img{
		height: 30px;
		width: 30px;
		margin: 5px;
	}
	.add_course{
		a{
			&:hover{
				color: inherit;
				text-decoration: underline;
			}
		}
	}
}

/* reviews */

.reviews {
  list-style: none;
  padding: 0 30px 0 30px;
  margin-top: 25px;
  span{
  	margin-right: 8px;
  }
  li {
    padding: 15px 0;
    margin-bottom: 15px;
    border-bottom: 1px solid $lightest-gray;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    img {
      display: block;
      padding: 5px 0;
    }
  }

  .photo{
    position: relative;
    height: 100px;
    width: 100px;
    margin-top: 8px;
    background: $lightest-gray;
    border-radius: 50px;
    h3{
      font-size: 30px;
      margin: 0;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
  .name{
  	font-weight: bold;
  	line-height: 30px;
  }
  .ratings{
  	line-height: 30px;
  }
  .timestamp {
    color: $gray-light;
    font-size: 12px;
  }
  i{
    margin-right: 4px;
  }
  a{
    .vcount{
      margin: 0 !important; //this is really ugly, just a quick fix.
    }
  }
  .vote{
	  &:hover{
  		text-decoration: underline;
  	}
  }
  .helpful{
  	color: $green;
  	font-weight: bold;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}
