@import "bootstrap-sprockets";
@import "bootstrap";
@import 'partials/base';

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;


/* universal */

body {
  padding-top: 60px;
}

section {
  margin-top: 20px;
  overflow: auto;
  padding: 0 15px !important;
}

div{
  padding: 10px 0;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.container{
  max-width: 1024px;
  padding: 0;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  text-align: center;
  margin: 30px 0 20px 0;
  font-weight: bold;
  text-align: left;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
  color: $gray-light;
}
h3{
  margin-top: 10px;
}
h4{
  font-size: 1 em;
  letter-spacing: -1px;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  letter-spacing: -1px;
}

li{
  color: $gray;
}

ul{
  list-style: none;
}

.btn{
  font-size: 16px;
  background-color: $green;
  border-radius: 3px;
  border:none;
  text-transform: uppercase;
  padding: 14px !important;
  margin-bottom: 10px;
  color: white !important; 
  &:hover{
    background-color: rgba(0, 66, 55, 0.7) !important;
    color: white !important;
  }
  &:visited, &:active, &:focus{
    color: white;
    background-color: $green !important;
  }
}

a{
  &:visited{
    color: $gray-lighter;
    background: none !important;
  }
  &:focus{
    color: black !important;
    background: none !important;
  }
}

textarea, input{
  padding: 5px;
  margin: 15px 0 30px 0;
  &:focus{
    border-color: $green;
    outline-style: none;
  } 
}

select {
  padding: 10px !important;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-overflow: '';
  text-indent: 0.01px;
  background: url(dropdown_sm.png) no-repeat 98% 50%;
  border-radius: 0px;
  &:focus{
    border-color: $green !important;
    outline-style: none !important;
  } 
}
::-ms-expand {
  display: none;
}

/* header */
.header{
  background-color: white;
  border-bottom: 1px $gray-lighter solid;
  a{
    &:hover, &:active &:visited{
      color: black !important; 
      background: none;
    }
  }
  .dropdown-toggle{
    color: $gray;
    background: none;
  }
  .logo {
    float: left;
    margin: 0 auto;
    font-size: 1.7em;
    color: black;
    letter-spacing: -1px;
    line-height:50px;
    font-weight: bold;
    em{
      color: $green;
      font-style: normal;
    }
    &:hover {
      text-decoration: none;
    }
  }
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.course_info{
  margin: 20px 0 60px 0;
  h1{
    margin-top: 20px;
  }
  p{
    font-size: 20px;
    line-height: 35px;
  }
  em{
    color: $green;
    font-style: normal;
    font-weight: bold;
  }
}
.course_avg_ratings{
  text-align: center;
  margin-top: 50px;
  table{
    margin: 0 auto;
    border-collapse: separate;
    border: solid 2px $gray-light;
    border-radius: 3px ;
    width: 85%;
    max-width: 300px;
    height: 90px;
    table-layout: fixed;
    td{
      border-left:  solid 2px $gray-light;
      &:first-child{
        border:none;
      }
    }
    tr{
      h3{
        color: $green;
        font-weight: bold;
      }
    }
  }
 }


.user_signup, .user_login, .new_course, .new_department, .new_professor{
  a{
    &:hover{
      text-decoration: underline;
    }
  }
  #user_remember_me{
    margin: 4px 0 0 15px;
  }
  label{
    padding-left: 0;
  } 
  input[type="text"]{
    margin-top: 0;
  }
}

.homepage{
  h1{
    text-align: center;
  }
  .search-by{
    line-height: 45px;
  }
  background: none;
  .home-signup{
    margin-top: 50px;
  }
  .home-review{
    margin-top: 100px;
    li{
      margin-bottom: 30px;
    }
    .class{
      font-size: 18px;
    }
  }
}

.field{
  padding: 10px 20px;
  background-color: white;
  border: 10px solid $lightest-gray;
  margin-bottom: 60px !important;
  h2{
    text-align: left;
  }
  h3{
    margin: 10px 0 35px 0 ;
    font-weight: bold; 
  }
 }

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
  // &[name="checkbox"]{
  //   display:inline;
  // }
}


#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.alert-error{
  color: red;
  background: rgba(255,0,0,0.15);
}

.alert-notice, .alert-alert{
  color: $green;
  background: rgba(0, 102, 85, 0.15);
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}


/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}


aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}