<p>Welcome to the Swarthmore Course Review!</p>

<p>You can confirm your account email (<%= @email %>) through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
